@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Slab);

body {
  background-repeat: repeat-x;
  background-position: center top;
  background-position: cover;
  background-color: #ECE7E3;
}

.about {
  position: absolute;
  right: 0;
  top: 0;
  font-family: Roboto Slab;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px;
}

.about:hover {
  background-color: rgba(150, 150, 150, 0.7);
  cursor: pointer;
}

.modal-content {
  font-family: sans-serif;
}

.down {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

.container {
  padding: 0;
}

body {
  font-family: 'Indie Flower', cursive;
}

.logo {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.top {
  background-image: url(../images/beachbg-upper.jpg);
  background-repeat: repeat;
  color: #fff;
  font-size: 1.75em;
  font-weight: 300;
  text-align: justify;
  font-family: Roboto Slab;
  padding-top: 30px;
}

.top .container {
  width: 65%;
}

.bottom {
  background-image: url(../images/beachbg-lower.jpg);
  background-repeat: repeat-x;
  padding-top: 230px;
  font-size: 23px;
}

@media only screen and (min-width: 992px) {
  .things-done {
    padding: 10px;
    padding-top: 0px;
    -webkit-transition: 0.7s linear all;
    transition: 0.7s linear all;
  }

  .things-done.floating {
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
  }
}

table {
  border-collapse: collapse;
}

.polaroid {
  border: 10px solid #fff;
  border-bottom: 30px solid #fff;
  width: 220px;
  height: 240px;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  margin: 60px 0px;
  box-shadow: 6px 6px 30px #494846;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .polaroid {
    float: left;
  }
}

.polaroid:nth-of-type(even) {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

td {
  background-color: #E9E4E0;
}

tr.done td {
  position: relative;
  background-color: #E3D5CC;
  color: #898989;
  text-decoration: line-through;
}

tr.done td:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}